<div id="header_results" class="blue">
        <div class="medium blue"><h3>Palavras</h3></div>
        <div class="medium blue"><h3>Links</h3></div>
        <div class="medium blue"><h3>Headings</h3></div>
        <div class="medium blue"><h3>Facebook</h3></div>
        <div class="medium blue"><h3>Twitter</h3></div>
        <div class="medium blue"><h3>LinkedIn</h3></div>
        <div class="large blue"><h3>URL</h3></div>
          
      </div>
<%= render(:partial => @search, :collection => @search) %>

<br />
<%= will_paginate @search %>
<%= pageless(@search.total_pages, search_path) %>
