<h1>Teste</h1>
<%= form_tag :controller => 'search', :action => 'search' do %>
       <%= label_tag(:q, "Search for:") %>
2      <%= text_field_tag :url, params[:url] %>
3      <%= submit_tag "Search" %> 
5  <% end %>